#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.cards_view{
  margin: 4em;
  display: flex;
  justify-content: center;
  background-color: rgba(137, 43, 226, 0.023);
  width: 80%;
}

.token_title_bar {
  background-color: #000000;
  gap: 10px;
  display: flex;
  justify-content: center;
}

.title_bar{
  min-height: auto;
  background-color: #000000;
}

.title_in_bar{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:x-large;

}

.token {
  font: 1em sans-serif;
  will-change: filter;
  transition: filter 300ms;
}

.token:hover {
  filter: drop-shadow(0px 4px 6px rgba(248, 246, 246, 0.2));
  filter: hue-rotate(90deg);
}

.pool_card {
  flex: 1 1 calc(33.33% - 20px);
  margin-right: 8px;
  height: 16vw;
  width: 16vw; 
  will-change: filter;
  transition: filter 300ms;
  background-color: rgb(82, 22, 22);
  will-change: filter;
  transition: filter 300ms;
}

.pools_data_view {
  justify-self: stretch;
  width: auto;
}

.pool_address{
  font-size: 2%;
  font-stretch: extra-condensed;
}

.pool_card:hover{
  filter: drop-shadow(0em 0em 4em black);
}


.pool_data{
  justify-content:space-evenly;
  display: block;
  margin-top: 1em;
  justify-items: left;
}

.pool_data_element{
  display: flexbox;
  flex: 1 1 calc(33.33% - 20px);
  margin-left: 22em;
}

.pool_data_dex_titile{
  text-align: left;
}

.pairs_list{
  justify-self:flex-start;
  height: fit-content;
  display: flexbox;
  width: auto;
}

.pair_name{
  align-self:self-start;
  width: 10em;
  display: block;
  margin-top: 2px;
  
}

.main_view {
  margin-top: 2em;
  display: flex;
}