.input-number {
    width: 40%; /* Full width, or adjust as needed */
    max-width: 200px; /* Limit max width */
    padding: 10px;
    border: 0.1px solid #350303; /* Subtle border */
    text-align: center; /* Center the text */
    font-size: 8px; /* Increase font size for readability */
    outline: none; /* Remove outline on focus */
    appearance: none; /* Remove spinner buttons in some browsers */
}

.input-number:focus {
    align-self: center;
    width: 40%;
    background-color: #81071c;
    border-color: #81071c; /* Highlight border color on focus */
    box-shadow: 0 0 5px rgba(90, 5, 27, 0.5); /* Add subtle glow */
}

.input-number::-webkit-inner-spin-button, 
.input-number::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove spinner buttons in WebKit browsers */
    margin: 0; /* Remove default margin */
}